@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e1c2e;
}

.sideNav {
  height: 100%;
  width: 300px;
  padding: 2rem;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ffffff;
  padding-top: 20px;
}
.sideNavChild {
  height: 65%;
  overflow-y: scroll;
}

.productList {
  list-style: none;
  text-align: left;
}

.cartBtn {
  margin-bottom: 1rem
}
.App {
  text-align: center;
}

.App-logo {
  height: 10rem;
  pointer-events: none;
}

.cartLogo {
  height: 2rem;
  color: white;
}
.cart-logo-align {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1b3659;
  box-shadow:     inset 0 -3em 3em rgb(29, 54, 88),
  0em 0.1em 1.4em rgb(105, 100, 100);
  padding: 2.2rem;
  z-index: 3;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  position: fixed;
  height: 50px;
  top: 0
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
